*{
  padding: 0;
  margin: 0;
}

body {
  background-image: url("../img/me.png");
}

/* header and navbar */

header{
  /* background-color: white; */
  grid-column-start: 1;
  /* grid-column-end: 4; */
  grid-row-start: 1;
  grid-row-end: 1;
  grid-template-columns: 1fr 1fr;
  display: grid;
  border-bottom: 3px solid;
  background-color: teal;
  height: 60px;
  /* margin-top: ; */
  padding-top: 1%;
}

#rl{
  margin-left: 1%;
  margin-top: 2%;
  font-family: 'Indie Flower', cursive;
  color: black;
}
a{
  text-decoration: none;
  color: black;
}

.navbar #active li {
  background: black;
  border-radius: 10%;
  color: white;
  padding: 10px;
  text-align: center;
}
.navbar{
  margin-top: 3%;
  margin-left: 65%;
  /* border: 2px solid; */
}

li{
  display: inline;
  /* background-color: black; */
  /* height: 200px; */
  margin-right: 20px;
}

/* header/ navbar end */


.test {
  background: black;
  border: 2px solid white;
  overflow: hidden;
  animation: createBox 8s;
  width: 60%;
  height: 720px;
  margin: 0 auto;
  margin-top: 2%;
  border-radius: 15%;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* display: grid; */
  /* grid-gap: 2px; */
}

.me{
  color: white;
  font-family: 'Indie Flower', cursive;
  margin-left: 46%;
  /* margin: 29 auto; */
  /* border: 2px solid yellow; */
  /* grid-column-start: 2; */
  /* grid-column-end: 4; */
}


 .content{
  margin-top: 2%;
  margin-left: 50px;
  padding: 2%;
  color: white;
  border: 2px solid teal;
  justify-content: center;
  display: inline-block;
}

.left{
  width: 300px;
}


.right{
  width: 300px;
}


/* At least 3 breakpoints are used with media queries. (480px, 768px, 992px). */

@media all and (min-width: 769) and (max-width: 992) {
    .test{
      width: 500px;
    }
    .content{
      font-size: 12px;
      width: 200px;
    }
}

@media all and (min-width:481) and (max-width: 768) {
  .test{
    width: 50%;
  }
  .content{
    font-size: 13px;
    width: 200px;
  }
  .left{
    margin-top: 200px;
    padding-top: 200px;
    font-size: 13px;
  }
}


@media all and (max-width: 480) {
  .test{
    width: 60%;
  }
  .content{
   font-size: 16px;
   width: 212px;
 }
}



/* At least 3 breakpoints are used with media queries. (480px, 768px, 992px). */


/* @media all and (max-width: 1289px) {

 .test{
   width: 50%;
 }
  .content{
    font-size: 13px;
    width: 200px;

  }
  .left{
    margin-to: 200px;
     padding-top: 200px;
     font-size: 13px;
  }
} */

/* At least 3 breakpoints are used with media queries. (480px, 768px, 992px). */


/* @media all and (max-width: 1112px) {

 .test{
   width: 60%;

 }

   .content.left{
    font-size: 15px;
    width: 240px;
  }

}


@media all and (max-width: 999px) {

 .test{
   width: 70%;

 }

   .content.left{
    font-size: 15px;
    width: 240px;
  }

}



@media all and (max-width: 982px) {
 .test{
   width: 65%;

 }

   .content{
    font-size: 16px;
    width: 212px;
  }
  .left{
    font-size: 13px;
    line-height: 18px;
  }
}


@media all and (min-width:) (max-width: 944px) {
 .test{
   width: 80%;

 }

   .content{
    font-size: 16px;
    width: 212px;
  }
  .left{
    font-size: 13px;
    line-height: 18px;
  }
} */

/* At least 3 breakpoints are used with media queries. (480px, 768px, 992px). */



@keyframes createBox {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
